body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.me{
    color: coral;
}
#banner{
    background-image: url(images/top-banner.png);
    background-repeat: none;
}
.part{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;

}
.dream{
    margin-top: 15px;
    margin-left: 10px;
}
button{
    background-color: orangered;
    font-weight: 600;
    padding: 8px;
    border-radius: 3px;
    border: none;
    width: 25%;
    
}

a {
    text-decoration: none;
    color: white;
}
